<div class="flex h-[calc(100vh-60px)] gap-20 container mx-auto">
  <div class="w-1/3 flex flex-col mt-3">
    <nz-tabset class="w-1/3 fixed">
      <nz-tab nzTitle="Cenarios de teste">
        <app-scenarios-form
          [cardInfoForm]="cardInfoForm"
          [scenariosForm]="scenariosForm"
          [listOfControl]="listOfControl"
          (addfield)="addField()"
          (removefield)="removeField($event)"
          (deleteallfields)="deleteAllFields()"
          (save)="saveScenario()"
        ></app-scenarios-form>
      </nz-tab>
      <nz-tab nzTitle="Cenarios descritos">
        <app-scenarios-described-form
          [scenariosForm]="scenariosForm"
          [listOfControl]="listOfControl"
        ></app-scenarios-described-form>
      </nz-tab>
    </nz-tabset>
  </div>
  <div class="w-2/3 flex items-center gap-5 flex-col mt-3">
    <div class="flex items-center gap-5">
      <h1>Preview</h1>
      <button nz-button nzType="primary" (click)="generatePdf()">
        Gerar PDF
      </button>
    </div>

    <div
      id="pdfContent"
      class="w-[700px] font-sans border p-16 flex flex-col gap-2"
    >
      <div class="mb-4 flex items-center justify-between">
        <div class="w-36">
          <img class="w-full" src="/assets/petrobras.png" alt="" />
        </div>
        <div class="w-20">
          <img class="w-full" src="/assets/IBM.png" alt="" />
        </div>
      </div>
      <div>
        <table
          class="w-full flex justify-center flex-col border border-slate-200 rounded-md p-2 text-slate-800"
        >
          <tr class="border-b border-slate-200 text-slate-800 font-semibold">
            <td class="font-bold">Desenvolvedor:</td>
            <td>{{ cardInfoForm.value.cardHolder }}</td>
          </tr>
          <tr class="border-b border-slate-200 text-slate-800 font-semibold">
            <td class="font-bold">Revisor:</td>
            <td>{{ cardInfoForm.value.cardReviwer }}</td>
          </tr>
          <tr class="border-b border-slate-200 text-slate-800 font-semibold">
            <td class="font-bold">Data de criação:</td>
            <td>{{ today }}</td>
          </tr>
          <tr class="border-b border-slate-200 text-slate-800 font-semibold">
            <td class="font-bold">Card:</td>
            <td>{{ cardInfoForm.value.cardNumber }}</td>
          </tr>
          <tr class="border-b border-slate-200 text-slate-800 font-semibold">
            <td class="font-bold">Sprint:</td>
            <td>{{ cardInfoForm.value.sprint }}</td>
          </tr>
        </table>
      </div>

      <p class="font-bold text-base">Cenarios esperados</p>
      <ul class="list-disc ml-10">
        <li *ngFor="let scenario of listOfControl">
          {{ scenariosForm.value[scenario.controlInstance]["testcaseName"] }}
        </li>
      </ul>
      <p class="font-bold text-base">Cenarios descritos</p>
      <ul *ngFor="let scenario of listOfControl" class="list-decimal ml-10">
        <li class="font-bold">
          {{ scenariosForm.value[scenario.controlInstance].testcaseName }}
        </li>
        <ul class="list-disc ml-5">
          <li>
            Dado que
            <span>{{
              scenariosForm.value[scenario.controlInstance].testcaseDescription
                .dado
            }}</span>
          </li>
          <li>
            Quando
            <span>{{
              scenariosForm.value[scenario.controlInstance].testcaseDescription
                .quando
            }}</span>
          </li>
          <li>
            Então
            <span>{{
              scenariosForm.value[scenario.controlInstance].testcaseDescription
                .entao
            }}</span>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
