<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-2">
    <h1 class="text-base text-black">Filtrar cenários:</h1>
    <form [formGroup]="scenarioFilterForm" class="flex flex-col">
      <div class="flex gap-5">
        <ibm-label class="w-full">
          Número do Card
          <input
            formControlName="cardNumber"
            ibmText
            size="sm"
            placeholder="Número do Card"
          />
        </ibm-label>
        <ibm-label class="w-full">
          Sprint
          <input
            formControlName="sprint"
            ibmText
            size="sm"
            placeholder="Sprint"
          />
        </ibm-label>
        <ibm-select
          formControlName="cardHolder"
          class="w-full"
          size="md"
          label="Desenvolvedor"
        >
          <option selected value="">Todos</option>
          <option value="Ana Toledo Lobo Maia">Ana Toledo Lobo Maia</option>
          <option value="Bruno Silva Bandeira">Bruno Silva Bandeira</option>
        </ibm-select>
        <ibm-label class="w-full">
          Revisor
          <input
            formControlName="cardReviwer"
            ibmText
            size="sm"
            placeholder="Revisor"
          />
        </ibm-label>
        <ibm-select class="w-full" size="md" label="Desenvolvedor">
          <option value="" disabled selected hidden>Choose an option</option>
          <option value="ana">Ana Toledo Maia</option>
          <option value="bruno">Bruno de Souza</option>
        </ibm-select>
      </div>
    </form>
  </div>
  <hr />
  <div class="flex flex-col gap-5">
    <div class="flex justify-between items-center">
      <h1 class="text-blue-600 font-medium text-3xl">Cenários de teste:</h1>
      <button
        size="sm"
        [routerLink]="['/create']"
        [queryParams]="{
          projectId: currentProjectId
        }"
        ibmButton="primary"
      >
        Criar cenário
      </button>
    </div>
    <div>
      <div
        *ngIf="filtredScenarios$ | async as scenarios"
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4 py-2"
      >
        <ng-container *ngFor="let item of scenarios">
          <app-tile
            [route]="['/edit', item._id]"
            [queryParams]="{
              projectId: currentProjectId
            }"
          >
            <h1 class="text-xl mb-3">{{ item.cardTitle }}</h1>
            <p>
              Desenvolvedor:
              <span class="font-bold">{{ item.cardHolder }}</span>
            </p>
            <p>
              Revisor:
              <span class="font-bold">{{ item.cardReviwer }}</span>
            </p>
          </app-tile>
        </ng-container>
      </div>
    </div>
  </div>
</div>
