<div class="container mx-auto flex flex-col gap-5">
  <div>
    <h1 class="text-blue-500 text-4xl">Projetos</h1>
    <p>Esses são todos os projetos que você faz parte</p>
  </div>

  <div
    *ngIf="projects()"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4 py-2"
  >
    <ng-container *ngFor="let item of projects()">
      <app-tile [route]="['projects', item._id]">
        <h1 class="text-xl text-blue-500 mb-1">{{ item.projectName }}</h1>
        <p>{{ item.projectDescription }}</p>

        <p class="mt-5 text-sm">
          Membros:
          <span class="text-blue-500">{{ item.projectMembers.length }}</span>
        </p>
      </app-tile>
    </ng-container>
  </div>
</div>
